{% extends 'master_temp.html' %}

{% block content %}
<div class="about">
<h1>About Trader Trainer</h1>

<div>
    <h2>What is it?</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae nostrum veniam officiis, consequatur impedit repellat hic numquam unde corrupti dolor quia itaque officia assumenda sequi expedita neque fugiat. Soluta, sit.
    Temporibus praesentium magni saepe adipisci dolorem illum tenetur iusto, perferendis inventore eaque quis nemo atque nulla tempora vitae quos quas ab. Minima reiciendis officiis deserunt possimus, harum tempore unde consectetur.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae nostrum veniam officiis, consequatur impedit repellat hic numquam unde corrupti dolor quia itaque officia assumenda sequi expedita neque fugiat. Soluta, sit.
    Temporibus praesentium magni saepe adipisci dolorem illum tenetur iusto, perferendis inventore eaque quis nemo atque nulla tempora vitae quos quas ab. Minima reiciendis officiis deserunt possimus, harum tempore unde consectetur.</p>
</div>

<div>
    <h2>What isn't it?</h2>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat iusto itaque expedita voluptate labore tempora.</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo exercitationem at quaerat quis aliquam corrupti, doloremque aliquid ratione.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati amet, excepturi quam illum laborum odit dolor distinctio quia unde recusandae quibusdam magnam architecto, doloremque iure odio?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, enim.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam similique minus ut molestiae at quidem sapiente distinctio dignissimos eligendi voluptatum.</li>
    </ul>
</div>
<div>
    <h2>Our Platform</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut inventore mollitia provident porro deleniti tenetur commodi, accusamus quidem modi!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut inventore mollitia provident porro deleniti tenetur commodi, accusamus quidem modi!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut inventore mollitia provident porro deleniti tenetur commodi, accusamus quidem modi!</p>
</div>

<div>
    <h2>Our Team</h2>
    <p>Necessitatibus facere non sunt deserunt eos sint consectetur reprehenderit nostrum esse at. Alias id error dignissimos officiis sint! Vero magni nostrum nemo ut quas laudantium rerum expedita. Tenetur, modi non.
    Esse molestias ut neque non optio ratione molestiae deserunt saepe id aperiam totam facilis aspernatur atque voluptate, necessitatibus, quis similique libero aliquam sequi voluptates vitae quaerat odio odit? Pariatur, cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit voluptates, inventore asperiores exercitationem veniam, nostrum libero commodi minima ullam et ipsum quos unde adipisci facilis autem facere atque! Iusto.
    
    Eligendi cumque cupiditate veniam vero impedit consectetur, ipsam natus et in, sit, blanditiis pariatur recusandae consequatur est rerum rem autem nostrum sed aliquam facilis! Exercitationem aperiam error suscipit ullam corporis!</p>
</div>

</div>
{% endblock %}