{% extends 'master_temp.html' %}

{% block content %}
<div class="about">
<h1>About Trader Trainer</h1>

<div>
    <h2>What is it?</h2>
    <p>A paper trader refers to someone who engages in simulated trading rather than actual trading with real money. The practice of paper trading allows traders to experiment with various investment strategies and get a feel for how markets work without risking real capital. Paper trading can be done manually, on paper (hence the name), or via specialized platforms and software that simulate real-time trading environments.</p>
</div>

<div>
    <h2>What isn't it?</h2>
    <p>A paper trader isn't someone who engages in real-money trading. Instead, they simulate trades using virtual funds to practice strategies and understand the market without financial risk. This allows traders to test their skills and refine their approaches without actual monetary consequences. Unlike real trading, there are no profits or losses that impact personal finances, and there are often fewer psychological pressures, such as fear and greed, that influence real trading decisions.</p>
</div>
<div>
    <h2>Our Platform</h2>
    <p>Our platform is for training purposes. All the balance that you might have are fake money and every loss of profit that you acquire doesn't affect your real account anywhere in the world as long as you train in our systems.</p>
</div>

<div>
    <h2>Our Team</h2>
    <p>Our team will be available to assist you in every way is possible.</p>
</div>

</div>
{% endblock %}