{% extends 'master_temp.html' %}

{% block content %}
<div class="about">
<h1>About Trader Trainer</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa quo, perspiciatis sunt iste consequuntur perferendis quas sequi quos adipisci ipsum?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi a unde omnis debitis ea, delectus dolor error. Deleniti quas architecto, ab accusamus expedita molestiae, labore obcaecati quasi, tempora sit itaque!
Magni recusandae veritatis quis modi quasi fugiat sint at omnis sequi, dolorum ut velit maxime quidem earum, repellendus ullam nobis vitae alias porro optio? Cum asperiores eligendi corrupti inventore dicta!</p>

<h2>What is it?</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae nostrum veniam officiis, consequatur impedit repellat hic numquam unde corrupti dolor quia itaque officia assumenda sequi expedita neque fugiat. Soluta, sit.
Temporibus praesentium magni saepe adipisci dolorem illum tenetur iusto, perferendis inventore eaque quis nemo atque nulla tempora vitae quos quas ab. Minima reiciendis officiis deserunt possimus, harum tempore unde consectetur.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae nostrum veniam officiis, consequatur impedit repellat hic numquam unde corrupti dolor quia itaque officia assumenda sequi expedita neque fugiat. Soluta, sit.
Temporibus praesentium magni saepe adipisci dolorem illum tenetur iusto, perferendis inventore eaque quis nemo atque nulla tempora vitae quos quas ab. Minima reiciendis officiis deserunt possimus, harum tempore unde consectetur.</p>
<h2>What isn't?</h2>
<ul>
    <li>lorem15</li>
    <li>lorem15</li>
    <li>lorem15</li>
    <li>lorem15</li>
    <li>lorem15</li>
</ul>
<h2>Our Platform</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut inventore mollitia provident porro deleniti tenetur commodi, accusamus quidem modi!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut inventore mollitia provident porro deleniti tenetur commodi, accusamus quidem modi!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut inventore mollitia provident porro deleniti tenetur commodi, accusamus quidem modi!</p>
<h2>Our Team</h2>
<p></p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit voluptates, inventore asperiores exercitationem veniam, nostrum libero commodi minima ullam et ipsum quos unde adipisci facilis autem facere atque! Iusto.
Necessitatibus facere non sunt deserunt eos sint consectetur reprehenderit nostrum esse at. Alias id error dignissimos officiis sint! Vero magni nostrum nemo ut quas laudantium rerum expedita. Tenetur, modi non.
Esse molestias ut neque non optio ratione molestiae deserunt saepe id aperiam totam facilis aspernatur atque voluptate, necessitatibus, quis similique libero aliquam sequi voluptates vitae quaerat odio odit? Pariatur, cupiditate.
Eligendi cumque cupiditate veniam vero impedit consectetur, ipsam natus et in, sit, blanditiis pariatur recusandae consequatur est rerum rem autem nostrum sed aliquam facilis! Exercitationem aperiam error suscipit ullam corporis!</p>

</div>
{% endblock %}