{% extends 'master_temp.html' %}

{% block title %} Index {% endblock %}

{% block content %}
<div class="container">
    <div class="sec-01">
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, id, ex et quasi hic exercitationem itaque possimus earum repellendus nostrum aut maxime repellat amet, aspernatur quisquam doloremque blanditiis aliquid eum.
       consectetur nemo deserunt quidem rem debitis similique distinctio minima. Minus.
        Quae autem est itaque rem, sunt tempora similique repellat error cupiditate facere quod atque quam in illum reprehenderit? Ipsa, ratione alias? Ea provident laborum optio debitis explicabo, praesentium iure quo.
        </div>
        <div class="media">
           <img src="../static/media/trade01.jpg"/>
        </div>
    </div>
    <div class="sec-02">
        <div class="media">
            <img src="../static/media/trade01.jpg"/>
        </div>
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, id, ex et quasi hic exercitationem itaque possimus earum repellendus nostrum aut maxime repellat amet, aspernatur quisquam doloremque blanditiis aliquid eum.
        Totam nisi aut mollitia, laborum facilis libero vero, dolore perspiciatis deleniti minima ipsam magni enim aliquid eum soluta dolorum provident harum neque modi nesciunt a. Iure saepe praesentium fuga voluptatem.
        Tempore in consequatur facilis earum, culpa quasi repellat nisi ea? Iusto tempore quaerat adipisci itaque, vel totam, quos esse maxime tempora consequuntur ea in quibusdam expedita debitis cupiditate id quas.
        Placeat, impedit esse. In repudiandae doloremque rerum commodi itaque, porro quas esse fugiat vitae eos, maxime adipisci illo excepturi libero consectetur nemo deserunt quidem rem debitis similique distinctio minima. Minus.
        Quae autem est itaque rem, sunt tempora similique repellat error cupiditate facere quod atque quam in illum reprehenderit? Ipsa, ratione alias? Ea provident laborum optio debitis explicabo, praesentium iure quo.
        </div>
    </div>
</div>

{% endblock %}
