{% extends 'master_temp.html' %}

{% block content %}

<div class="contact">
    <h1>Contact us</h1>
    <div>
        <h2>Talk with an Agent: <span><i class="fa-solid fa-phone"></i> 414 - 999 - 9999</span></h2>
    </div>
    <div>
        <h2>Find us here: <span><i class="fa-solid fa-location-dot"> </i> Suite. 907 99356 Ledner Light, New Jacquelyn, TX 85645-4311</span></h2>
    </div>
    <div>
        <h2><i class="fa-solid fa-envelope"></i> <span>csupport@tradertrainer.com</span></h2>
    </div>
</div>
{% endblock %}