{% extends 'master_temp.html' %}
{% block content %}
<div class="faq">
<h1>Frequent Asked Questions (FAQ's)</h1>
<ol>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa earum provident fuga delectus ab!?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis nesciunt corrupti repellat voluptate alias cumque. Eum veniam ipsa aut necessitatibus odio repudiandae. Vero, provident maiores! Assumenda accusantium quod repellat?</p>
</ol>
</div>
{% endblock %}