<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!--Local-->
    <link rel="stylesheet" href="{% static 'd_style.css' %}">
    <script src="{% static 'app.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    
</head>
<body>
    <div class="user-navbar">
        <div class="app-tools">
            <li class="disabled" aria-disabled="true">Menu</li>
            <li class="disabled" aria-disabled="true">Objects</li>
            <li class="disabled" aria-disabled="true">Indicators</li>
            <li class="disabled" aria-disabled="true">Time Frames</li>
        </div>
        <div class="user-data">
            <p>Welcome Mr(s) <strong>{{user.last_name}}</strong>, your current balance is: <span class="balance">${{balance}}</span></p>
        </div>

        <ul class="user-profile">
            <li onclick="settings()"><i class="fa-solid fa-gear"></i> Settings</li>
            <li>
                <a href="{% url 'login_user' %}">
                    <i class="fa-solid fa-power-off"></i> Logout
                </a> 
            </li>
        </ul>
    </div>
    <div id="settings" class="set-off">
        <span id="closeIcon" onclick="closeBtn()" >
            <i class="fa-solid fa-square-xmark"></i>
        </span>
        <div class="info-details">
            <h2>Settings</h2>
            <p>Name: <span class="info">{{user}} {{user.last_name}}</span></p>
            <p>Email: <span class="info">{{user.email}}</span></p>
            <p>Balance: <span class="info">${{balance}}</span></p>
            <form method="post" class="add-funds">
                {% csrf_token %}
                {{ deposit.as_p }}
                <button type="submit">Add Funds</button>
            </form>
            <form method="post" class="reset-account">
                {% csrf_token %}
                {{ reset.as_p }}
                <button type="submit">Reset account</button>
            </form>   
            
        </div>
    </div>
{% block content %}

{% endblock %}
</body>
</html>