

{% extends 'master_user_dash.html' %}

{%block content%}
<div class="dash-container">
    <div>
        <div id="market-data">
            <h3>Market Overview</h3>
            <table class="overview">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Bid</th>
                        <th>Ask</th>
                        <th>Daily Change</th>
                    </tr>
                </thead>
                <!--
                <tbody>
                    <tr>
                        <td>{{AAPL.ticker}}</td>
                        <td>{{AAPL.bid}}</td>
                        <td>{{AAPL.ask}}</td>
                        <td>{{AAPL.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td>{{TSLA.ticker}}</td>
                        <td>{{TSLA.bid}}</td>
                        <td>{{TSLA.ask}}</td>
                        <td>{{TSLA.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td>{{MSFT.ticker}}</td>
                        <td>{{MSFT.bid}}</td>
                        <td>{{MSFT.ask}}</td>
                        <td>{{MSFT.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td>{{NFLX.ticker}}</td>
                        <td>{{NFLX.bid}}</td>
                        <td>{{NFLX.ask}}</td>
                        <td>{{NFLX.daily_change}}%</td>
                    </tr>
                </tbody>
                -->
            </table>
        </div>
        <div id="trade-view">
            <div class="trade-btn">
                <button class="buy">Buy</button>
                <button class="sell">Sell</button>
            </div>
            <!-- templates/stock_chart.html -->
            <div id="aaplChart">
                <h1>APPL, inc</h1> <br />
               <!-- <h2>Price: {{AAPL.price}}</h2>-->
                {{plot | safe}}
            </div>

        </div>
    </div>
    <div id="portfolio">
        <h5>Portfolio</h5> <br />
        <p>{{user}}:</p>
      

        <!-- templates/stock_list.html -->


    </div>
</div>
{%endblock%}