{% extends 'master_user_dash.html' %}


{% block title %} {{user}} Dashboard {% endblock %}

{% block content %}

<div class="dash-container">
   
    <div>
        <div id="market-data">
            <h3>Market Overview</h3>
            <table class="overview">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Bid</th>
                        <th>Ask</th>
                        <th>Daily Change</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td><span class="ticker" onclick="showTicker('aaplChart')">{{AAPL.ticker}}</span></td>
                        <td>{{AAPL.bid}}</td>
                        <td>{{AAPL.ask}}</td>
                        <td>{{AAPL.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('tslaChart')">{{TSLA.ticker}}</span></td>
                        <td>{{TSLA.bid}}</td>
                        <td>{{TSLA.ask}}</td>
                        <td>{{TSLA.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('msftChart')">{{MSFT.ticker}}</span></td>
                        <td>{{MSFT.bid}}</td>
                        <td>{{MSFT.ask}}</td>
                        <td>{{MSFT.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('nflxChart')">{{NFLX.ticker}}</span></td>
                        <td>{{NFLX.bid}}</td>
                        <td>{{NFLX.ask}}</td>
                        <td>{{NFLX.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('nvdaChart')">{{NVDA.ticker}}</span></td>
                        <td>{{NVDA.bid}}</td>
                        <td>{{NVDA.ask}}</td>
                        <td>{{NVDA.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('amznChart')">{{AMZN.ticker}}</span></td>
                        <td>{{AMZN.bid}}</td>
                        <td>{{AMZN.ask}}</td>
                        <td>{{AMZN.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('metaChart')">{{META.ticker}}</span></td>
                        <td>{{META.bid}}</td>
                        <td>{{META.ask}}</td>
                        <td>{{META.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('bacChart')">{{BAC.ticker}}</span></td>
                        <td>{{BAC.bid}}</td>
                        <td>{{BAC.ask}}</td>
                        <td>{{BAC.daily_change}}%</td>
                    </tr>
                   
                </tbody>
            
            </table>

          
            <form method="post" class="trader-orders">
                <h1>Orders</h1>
                {% csrf_token %}
                {{trader.as_p}}
    
                <button type="submit">Submit</button>
            </form>
 
            
        </div>

        <div id="trade-view">
           
            <div id="viewCharts">
            
                <div id="aaplChart" class="ticker-content active">
                    <div class="chart-price">
                        <h1>AAPL, inc.</h1>
                        <h2>Price:<span> {{AAPL.price}}</span></23>
                    </div>
                    <div class="chart">
                        {{apple|safe}}
                    </div>
                </div>


                <div id="tslaChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>TESLA, inc.</h1>
                        <h2>Price:<span> {{TSLA.price}}</span></h2>
                        
                    </div>
                    <div class="chart">
                        {{tesla|safe}}
                    </div>
                </div>

                <div id="msftChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>MSFT, inc.</h1>
                        <h2>Price:<span> {{MSFT.price}}</span></h2>
                    </div>
                    <div class="chart">
                        {{msft|safe}}
                    </div>
                </div>

                <div id="nflxChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>NFLX, inc.</h1>
                        <h2>Price:<span> {{NFLX.price}}</span></h2>
                    </div>
                    <div class="chart">
                        {{nflx|safe}}
                    </div>
                </div>

                <div id="nvdaChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>NVIDIA, inc.</h1>
                        <h2>Price:<span> {{NVDA.price}}</span></h2>
                    </div>
                    <div class="chart">
                        {{nvda|safe}}
                    </div>
                </div>

                <div id="amznChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>AMAZON, inc.</h1>
                        <h2>Price:<span> {{AMZN.price}}</span></h2>
                    </div>
                    <div class="chart">
                        {{amzn|safe}}
                    </div>
                </div>

                <div id="metaChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>META, inc.</h1>
                        <h2>Price:<span> {{META.price}}</span></h2>
                    </div>
                    <div class="chart">
                        {{meta|safe}}
                    </div>
                </div>

                <div id="bacChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>BAC, inc.</h1>
                        <h2>Price:<span> {{BAC.price}}</span></h2>
                    </div>
                    <div class="chart">
                        {{bac|safe}}
                    </div>
                </div>
                


            </div>
        </div>
        
    </div>

   
    <div id="portfolio">
        <h2>Portfolio</h2>
                <table class="port">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Volume</th>
                            <th>Price</th>
                            <th>Profit</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for item in port %}
                        <tr>
                            <th>{{item.stock.name}}</th>
                            <th>{{item.stock.symbol}}</th>
                            <th>{{item.volume}}</th>
                            <th>{{item.price}}</th>
                            <th>{{item.profit}}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                
       
    </div>

</div>



{% endblock %}
