{% extends 'master_user_dash.html' %}


{% block title %} {{user}} Dashboard {% endblock %}

{% block content %}
<div class="dash-container">
    <div class="notifications">
        <!--<span class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> -->
    </div>
    <div>
        <div id="market-data">
            <h3>Market Overview</h3>
            <table class="overview">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Bid</th>
                        <th>Ask</th>
                        <th>Daily Change</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td><span class="ticker" onclick="showTicker('aaplChart')">{{AAPL.ticker}}</span></td>
                        <td>{{AAPL.bid}}</td>
                        <td>{{AAPL.ask}}</td>
                        <td>{{AAPL.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('tslaChart')">{{TSLA.ticker}}</span></td>
                        <td>{{TSLA.bid}}</td>
                        <td>{{TSLA.ask}}</td>
                        <td>{{TSLA.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('msftChart')">{{MSFT.ticker}}</span></td>
                        <td>{{MSFT.bid}}</td>
                        <td>{{MSFT.ask}}</td>
                        <td>{{MSFT.daily_change}}%</td>
                    </tr>

                    <tr>
                        <td><span class="ticker" onclick="showTicker('nflxChart')">{{NFLX.ticker}}</span></td>
                        <td>{{NFLX.bid}}</td>
                        <td>{{NFLX.ask}}</td>
                        <td>{{NFLX.daily_change}}%</td>
                    </tr>
                </tbody>
            
            </table>

          
            <form method="post" class="trader-orders">
                <h1>Orders</h1>
                {% csrf_token %}
                {{trader.as_p}}
                <button type="submit">Submit</button>
            </form>
                
           
            
        </div>

        <div id="trade-view">
           
            <div id="viewCharts">
            
                <div id="aaplChart" class="ticker-content active">
                    <div class="chart-price">
                        <h1>APPL, inc.</h1>
                        <!--<h3>Price:<span> {{AAPL.price}}</span></h3>-->
                    </div>
                    <div class="chart">
                        {{apple|safe}}
                    </div>
                </div>


                <div id="tslaChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>TESLA, inc.</h1>
                        <h2>Price:<span> {{TSLA.price}}</span></h2>
                    </div>
                    <div class="chart">
                        {{tesla|safe}}
                    </div>
                </div>

                <div id="msftChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>MSFT, inc.</h1>
                        <h2>Price:<span> {{MSFT.price}}</span></h2>
                    </div>
                    <div class="chart">
                        {{msft|safe}}
                    </div>
                </div>

                <div id="nflxChart" class="ticker-content">
                    <div class="chart-price">
                        <h1>NFLX, inc.</h1>
                        <h2>Price:<span> {{NFLX.price}}</span></h2>
                    </div>
                    <div class="chart">
                        {{nflx|safe}}
                    </div>
                </div>


            </div>
        </div>
        
    </div>

   <!--
        <h2>Add Funds</h2>
        <form method="post">
          {% csrf_token %}
          {{ deposit.as_p }}
          <button type="submit">Add Funds</button>
        </form>

        <form method="post">
            {% csrf_token %}
            {{ reset.as_p }}
            <button type="submit">reset</button>
        </form>   

    -->
    <div id="portfolio">
        <h2>Portfolio</h2>
                <table class="port">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Volume</th>
                            <th>Price</th>
                            <th>Profit</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for item in port %}
                        <tr>
                            <th>{{item.stock.name}}</th>
                            <th>{{item.stock.symbol}}</th>
                            <th>{{item.volume}}</th>
                            <th>{{item.price}}</th>
                            <th>{{item.profit}}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                
       
    </div>

</div>

{% endblock %}