@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow' ,'Roboto condensed';
}


.user-navbar{
   background-color: #000000;
   color: #eee;
   padding-top: 1rem;
   display: flex;
   flex-direction: row;
   align-content: center;
   width: 100%;
   overflow: hidden;
}

.app-tools, .user-data{
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
   
    margin: 0 .25rem;
    list-style: none;
    width: 50%;
}

.user-data p {
margin: 0;
padding: 0;
}

.user-data p span.balance{
    color: #3889da;
    font-weight: 700;
    font-size: 1.25rem;
}

.app-tools li, .user-profile li{
    color: #eee;
    background-color: #000000;
    text-decoration: none;
    margin: 0 1rem;
    cursor: pointer;
}

.user-profile{
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    margin: 0 .25rem;
    list-style: none;
    width: 30%;
}

.user-profile li, .user-profile li a{
    font-weight: 500;
    background-color: #000000;
    color: #eee;
}

.user-profile li a:hover{color: #d30f0f;
text-decoration: none;}

/*----------------dropdown settings-------------*/


/*layout*/
.dash-container{
    background-color: #f2f2f2;
    color:#d34d0f;
    display: flex;
    flex-direction: column;
}

.dash-container div{
    display: flex;
    flex-direction: row;
   
    margin: .25rem;
}
#market-data h3{
    color:#d34d0f;
    background: none;
    
}

#market-data{
    background-color: #fbfbfb;
    color: #222;
    padding: 1rem;
    width: 25%;
    display: inline-block;
    align-items: center;
    box-shadow: 0 1px 2px 0 #FFFFFF;
}

/*Table*/
.overview{
    border: 1px solid #99ceff;
    width: 25%;
    
}


.overview thead, .overview tbody tr{
    border: 1px solid #a9d0f5;
    width: 25%;
}
th, td{
    padding: .5rem 1rem;
}


#trade-view{
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: safe;
   
}
.notifications{
    position: absolute;
    left: 22rem;
    color:#41ad89
}

div#trade-view .trade-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    border: none;
    background: none;
    position:absolute;
    top: 4.5rem;
    left: 45rem;
   
}

div#trade-view .trade-btn div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

button.buy{
    margin: 1rem;
    background-color: #3889da;
    color: #f0f0f0;
    padding: 0 1rem;
    cursor: pointer;
    
}

button.sell{
    margin: 1rem;
    background-color: #ff0000;
    color: #f0f0f0;
    padding: 0 1rem;
    cursor: pointer; 
}

#viewCharts{
    width: 100%;
    background-color: #000000;
    padding: 0 .25rem;
    margin: 1rem;
    color: #eee;
    overflow: hidden;
   
}

#viewCharts .ticker-content{
    display:none;
}

#viewCharts .active{
    display:flex;
    flex-direction: column;
}

span.ticker{
    font-weight: 700;
    cursor: pointer;
}

div.chart-price{
    display: flex;
    justify-content: space-between;
    margin: 0 .5rem;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-end;
}

div.chart-price h1, div.chart-price h2{
    margin: 0;
    padding: 0;
}

div#portfolio{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.active{display: block;}

/*Charts*/

/*Tables*/
table.port{
    background-color: #222;
    color: #eee;
    width: 100%;
    height: auto;
    text-align: left;

}

table.port thead{
    color: #004181;
    background-color: #99ceff;
    border-bottom: 1px solid #a9d0f5;
}

table.port tbody{
    background-color: #f2f2f2;
    color: #000000;

}


/*Trader*/

.trader-orders{
    background-color: #a9d0f5;
    padding: 1rem;
    
    width: 100%;
}

.trader-orders ul.errorlist{
    list-style: none;
    font-size: 0.85rem;
    color: #d30f0f;

}

.trader-orders button{
    
    background-color: #05223f;
    color: #f0f0f0;
    padding: 0 1rem;
    cursor: pointer;
    
}

li.disabled{
    color: #5f5f5f;
}


/*Settings*/
#settings{
    
    background-color: #d4d7db81;
    color: #a9d0f5;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 10rem;
    left: 25%;
    z-index: 2;
    filter: blur(15);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0px #222;
    
}

.info-details{
    background-color: #5ba8f0;
    color: #eee;
    text-align: left;
    width: 35%;
    padding: 2rem 1rem;
    height: auto;
    display: inline;
    align-self: center;
    box-shadow: 0 2px 2px 0 #004181;
}

.info-details p span{
    color: #05223f;
    font-weight: 700;
}

.info-details form{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}
form.add-funds p{
    margin-top: 0;
    margin-bottom: 0rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: flex-end;
    flex-wrap: nowrap;
}

form.reset-account button{
    margin-top: 1rem;
}
.info-details form ul{
    display: none;
}

.info-details form button{
    background-color: #05223f;
    color: #f0f0f0;
    padding: 0 1rem;
    cursor: pointer;
}

#closeIcon{
    color: #042444;
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

#closeIcon:hover{
    color: #05223f;
    font-size: 2rem;
    position: absolute;
    top: 1px;
    right: 2px;
    cursor: pointer;
}

#settings.set-off{
    display: none;
}

#go-back {
    
    background-color: #05223f;
    color: #f0f0f0;
    padding: 0 1rem;
    cursor: pointer;
    position: absolute;
    top: 4rem;
    right: 1rem;
}

#go-back a{text-decoration: none;}